/*************Boiler plate de Ruben Marquez*****************************/
/*esta hoja de estilos intenta seguir seguir la metodologia BEM
 para evitar problemas de especifidad*******/
/*******************Control tipografias y paleta*********************************/
/***********************Reset de elementos***********************************/
*{
	overflow-x: hidden;
	overflow-wrap: break-word;
}

img {
  border-style: none;
}
/******************aqui se empieza*********************************/
*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.header__img{
  width: 100%;
  height: 100%;
  max-height: 100vh;
  object-fit: contain;
  /*background-color: rgb(245,209,161);*/
  background-image: linear-gradient(rgb(245,209,161), rgb(247,218,176));
}
.nav{
  width: 100%;
  margin: 45px auto 20px auto;
}
.menu{
  display: block;
  width: 80px;
  margin: 0 auto 16px auto;
}
.nav__ul{
  display: none;
  width: 294px;
  padding: 0;
  margin: 0 auto;
  /*display: flex;*/
  justify-content: space-evenly;
  align-items: center;
}
.nav__ul__li{
  font-size: 20px;
  margin: 11px 0;
  padding: 10px 30px;
  transition: border-radius 0.6s ease,
              background-color 0.6s ease;
}
.nav__ul__li:hover {
  background-color: rgb(21, 36, 46);
	cursor: pointer;
  padding: 10px 30px;
  border-radius: 20px;
}
.nav__ul__li:hover .a{
  color: white;
}
.a{
  text-decoration: none;
  color: #262626;
  transition: color 0.5s ease;
}
.wrapper{
  /*width: 80%;
  max-width: 1000px;*/
  width: 292px;
  margin: 0 auto 0 auto;
  height: 2000px;
  border: 1px solid #262626;
  margin-bottom: 90px;
}
.wrapper__row, .wrapper__row--par{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.wrapper__div{
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    width: 207px;
    height: 207px;
    margin-top: 43px;
    margin-bottom: 43px;
    transform: rotate(45deg);
    overflow: hidden;
    /*text-align: center;*/
    cursor: pointer;
    padding: 0;
  }
.wrapper__img{
  transform: rotate(-45deg) scale(1.45);
    /*width: 100%;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prueba{
  background-image: url("../img/16.jpg");
  width: 100%;
  height: 100%;
}
.rrss__ul{
 width: 294px;
 margin: 0 auto 90px auto;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 1px solid #262626;
 padding: 0;
}
.rrss__li{
  display: flex;
  align-items: center;
}
.rrss__img{
  width: 70px;
  margin: 12px 10px;
}
.rrss__img:hover{
  cursor: pointer;
}
.texto__rrss, .texto__formulario{
  width: 290px;
  margin: 0 auto 40px auto;
  text-align: center;
}
.formulario{
  width: 294px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px auto 20px auto;
  border: 1px solid #262626;
  padding: 20px 0;
 }
.input{
  width: 238px;
  margin-bottom: 15px;
  padding: 6px 6px;
  font-size: 17px;
  border: none;
  background-color: #e4e4e4;
  border-radius: 7px;
 }
.textarea{
  max-width: 240px;
  min-width: 240px;
  padding: 6px 6px;
  min-height: 20px;
  height: 20px;
  margin-bottom: 25px;
  font-size: 17px;
  border: none;
  background-color: #e4e4e4;
  border-radius: 7px;
}
.boton{
  padding: 7px 14px;
  color: white;
  background-color: #262626;
  font-size: 19px;
  border: none;
  border-radius: 7px;
  transition: border-radius 0.6s;
}
.boton:hover{
  cursor: pointer;
  border-radius: 20px;
}
.footer{
  text-align: center;
  margin: 40px 0 20px 0;
  font-size: 18px;
}
.cierre{
  display: none;
}

.menuresponsive{
  display: flex;
  flex-direction: column;
}
@media (min-width: 375px){
/*.header{
  background-image: url("../img/headers.jpg");
  height: 209px;
 }*/
}
@media (min-width: 425px){
  /*.header{
    background-image: url("../img/header.jpg");
    height: 237px;
   }  */
   .wrapper{
    width: 340px;
  }
  .wrapper__div{
    width: 240px;
    height: 240px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .rrss__ul{
    width: 340px;
  }
  .rrss__img{
    margin: 12px 14px;
  }
  .formulario{
    width: 340px;
  }
}
@media (min-width: 768px){
  /*.header{
    height: 429px;
    background-image: url("../img/headerta.jpg");
   }  */
   .menu{
    display: none;
  }
  .nav__ul{
    width: 614px;
    display: flex;
    flex-direction: row;
    margin: 60px auto 40px auto;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
  }
  .wrapper{
    width: 574px;
    height: 434px;
    overflow: hidden;
  }
  .wrapper__row{
    flex-direction: row;
    margin: -28px 0;
  }
  .wrapper__row--par{
    flex-direction: row;
    margin: -130px 0;
  }
  .wrapper__div{
    width: 102px;
    height: 102px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .texto__rrss, .texto__formulario{
    width: auto;
  }
  .rrss__ul{
    width: 574px;
  }
  .rrss__img{
    margin: 22px 35px;
  }
  .formulario{
    width: 574px;
  }
  .input{
    width: 320px;
  }
  .textarea{
    min-width: 320px;
    max-width: 320px;
  }
  .boton{
    padding: 10px 20px;
  }
  .contenedor{
    /* display: none;*/
    position: fixed;
    top: 5%;
    left: 5%;
    /*background-color: rebeccapurple;*/
    width: 0;
    height: 0;
    margin: 0 auto;
  }
  .visible{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(38,38,38,0.9);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .cierre{
    display: inline;
    position: absolute;
    font-size: 35px;
    right: 16px;
    top: 10px;
    color: red;
  }
  .cierre:hover{
    cursor: pointer;
  }
  .flecha--I{
    transform: rotate(-180deg);
    background-color: white;
    width: 50px;
  }
  .flecha--D{
    background-color: white;
    width: 50px;
  }
  .flecha--I,.flecha--D{
    cursor: pointer;
  }
}
@media (min-width: 1024px){
  /*.header{
    background-image: url("../img/headernuevo.jpg");
    background-position: bottom;
    height: 100vh;
    margin: auto;
   }  */
  .nav__ul{
    width: 821px;
  }
  .nav__ul__li{
   /* margin: 0 45px;*/
  }
  .wrapper{
    width: 800px;
    height: 596px;
  }
  .wrapper__row{
    flex-direction: row;
    /*margin: -12px 0;*/
      margin: -23px 0;
  }
  .wrapper__row--par{
    flex-direction: row;
    margin: -146px 0;
  }
  .wrapper__div{
   /* width: 140px;
    height: 140px;*/
    width: 140px;
    height: 140px;
    margin-top: 52.5px;
    margin-bottom: 52.5px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .rrss__ul{
    width: 800px;
  }
  .rrss__img{
    width: 90px;
    margin: 22px 54px;
  }
  .formulario{
    width: 800px;
  }
  .input{
    width: 450px;
  }
  .textarea{
    min-width: 450px;
    max-width: 450px;
  }
}
/*@media (min-width: 700px){
.wrapper__div{
  width:  300px;
  height: 300px;
  transform: rotate(45deg);
  background-color: red;
}*/
}
@media (min-width: 1360px){
  /*.header{
    background-image: url("../img/headernuevo.jpg");
    /*height: 582px;*/
    /*width: 100%;
   }*/
}