/*************Boiler plate de Ruben Marquez*****************************/
/*esta hoja de estilos intenta seguir seguir la metodologia BEM
 para evitar problemas de especifidad*******/
/*******************Control tipografias y paleta*********************************/
/*https://www.modularscale.com/?16&px&1.618*/

:root {
    --escala-h1: 67.77px;
    --escala-h2: 41.88px;
    --escala-h3: 25.88px;
    --escala-h4: 9.88px;
    --escala-h5: 6.11px;

    --color-negro: #2a1820;
    --color-primario: #88C5CC;
    --color-secundario: #F4791F;

}

/***********************Reset de elementos***********************************/
*{
	overflow-x: hidden;
	overflow-wrap: break-word;
}

html{
	  line-height: 1.15; /* 1 */
}

body{
	font-family: 'Fugaz One', 'Kanit', sans-serif;
	margin: 0px;
}

h1,h2,h3,h4,h5,h6{
	margin: 0px;
}

p{
  margin: 0px;
}

li{
   list-style: none;
}

ul{
	margin: 0px;
	padding: 0px;
}
figure{
	margin: 0px;
}

img{
	max-width: 100%;
	display:block;
}

a{
	text-decoration: none;
	color: transparent;
}

img {
  border-style: none;
  max-width: 100%;
}

/************Normalaizer**************************/
/*solo parte de formularios */
/*https://github.com/sindresorhus/modern-normalize*/
/* Forms======================================================================= */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}


legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}


textarea {
  overflow: auto;
}


[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}
/******************aqui se empieza*********************************/
	/*E91B4B rojo
    030D28     azul */
.miniheader{
  width: 100%;
  background: #E91B4B;
  padding: 7px 0;
}
.miniheader__p{
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 19px;
}
.navmain{
  width: 100%;
}
.navmain__ul{
  display: none;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}
.main__ul__li{
  margin: 5px 0;
  text-align: center;
}
.header{
  background-image: url("../img/heroxs.jpg");
  background-position: center;
  height: 79vh;
}
.h1{
  text-align: center;
  color: white;
  font-size: 47px;
  margin-top: 70px;
  text-shadow: 2px 2px 2px #030D28;
}
.headerbtn{
  background-color: #E91B4B;
  display: block;
  width: 90px;
  margin: auto;
  text-align: center;
  padding: 9px;
  border-radius: 7px;
  color: white;
  margin-top: 40px;
  transition: background-color .2s ease-in;
}
.headerbtn:hover{
  transition: 0.6s;
  cursor: pointer;
  background-color: #030D28 ;
}
.main{
  width: 70%;
  margin: -100px auto 0 auto;
  background-color: white;
  box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.38);
  border-radius: 7px;
  padding: 15px;
  border-bottom: 3px solid #E91B4B;
}
.main__h2{
 font-size: 17px;
 text-align: center;
}
.main__p{
  margin-top: 17px;
  text-align: justify;
}
.main__ul{
  margin-top: 17px;
  padding-top: 17px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  border-top: 2px solid #030D28;
}
.main__ul__li{
  width: 40%;
}
.main__rrss{
  width: 90px;
}
.equipo{
  width: 100%;
}
.equipo__h2{
  text-align: center;
  margin: 50px 0 40px 0;
}
.plantilla{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
}
.plantilla__trabajador{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.trabajador__img{
  width: 180px;
  filter: grayscale(0.7);
}
.trabajador__txt{
  width: 100%;
  padding: 10px;
  margin-bottom: 40px;
  border: 3px solid #E91B4B;
/*box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.38);*/
}
.trabajador__nombre{
    text-align: center;
  font-size: 18px;
  margin-bottom: 7px;
}
.trabajador__cargo{
  text-align: center;
  font-size: 16px;
}
.conocenos{
  width: 100%;
  background-color: #030D28;
}
.conocenos__txt{
  width: 80%;
  margin: auto;
 padding: 30px 0;
}
.conocenos__h3{
  text-align: center;
  color: white;
  padding: 0 0 35px 0;
}
.conocenos__txt__p{
  color: white;
  text-align: justify;
  margin-bottom: 25px;
}
.conocenos__btn{
  max-width: 100px;
  display: block;
  margin: auto;
  background-color: #E91B4B;
  text-align: center;
  border-radius: 7px;
  padding: 7px 5px;
  color: white;
  transition:transform 0.3s;
}
.conocenos__btn:hover{
  cursor: pointer;
  transform: scale(1.07);
}
.cursos{
  padding-bottom: 30px;
}
.cursos__h2{
  text-align: center;
  padding: 30px 0 25px 0;
}
.curso__wrapper{
  display: flex;
  height: 800px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.curso__img{
  position: relative;
  width: 250px;
  border-radius: 5px;
}
.temario--1, .temario--2, .temario--3, .temario--4{
  position: relative;
  overflow: hidden;
  /*max-width: 400px;*/
}
.temario--1::after{
  content: 'Curso de Administrativo';
  position: absolute;
  bottom: -300px;    
  left: 0px;
  width: 100%;
  text-align: center;
  height: 55%;
  padding-top: 45%;
  font-size: 20px;
  background-color: #262626;
  opacity: 0.85;
  color: white;
  cursor: pointer;
  transition: bottom 0.8s ease;
}
.temario--2::after{
  content: 'Curso de Hacienda Pública';
  position: absolute;
  bottom: -300px;    
  left: 0px;
  width: 100%;
  text-align: center;
  height: 55%;
  padding-top: 45%;
  font-size: 20px;
  background-color: #262626;
  opacity: 0.85;
  color: white;
  cursor: pointer;
  transition: bottom 0.8s ease;
}
.temario--3::after{
  content: 'Curso de Auxiliar Judicial';
  position: absolute;
  bottom: -300px;    
  left: 0px;
  width: 100%;
  text-align: center;
  height: 55%;
  padding-top: 45%;
  font-size: 20px;
  background-color: #262626;
  opacity: 0.85;
  color: white;
  cursor: pointer;
  transition: bottom 0.8s ease;
}
.temario--4::after{
  content: 'Curso de Auxiliar de Enfermería';
  position: absolute;
  bottom: -300px;    
  left: 0px;
  width: 100%;
  text-align: center;
  height: 55%;
  padding-top: 45%;
  font-size: 20px;
  background-color: #262626;
  opacity: 0.85;
  color: white;
  cursor: pointer;
  transition: bottom 0.8s ease;
}
.temario--1:hover::after, .temario--2:hover::after, .temario--3:hover::after, .temario--4:hover::after {
  bottom: 0px;
}
.catalogo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/lapizxs.jpg");
  padding: 20px 0 20px 0;
  min-height: 150px;
}
.catalogo__ul{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
}
.catalogo__li{
  font-size: 25px;
  margin: 12px 0;
  /*color: #E91B4B;*/
  color: #030D28;
}
.noticias__h3{
   text-align: center;
   padding: 50px 0 35px 0;
   font-size: 25px;
 }
 .noticia{
   height: 100%;
   width: 75%;
   max-width: 340px;
   margin: 15px auto 50px auto;
   padding: 7px 7px 15px 7px;
   box-shadow: 3px 2px 8px 6px rgba(0,0,0,0.17);
   border-radius: 5px;
 }
 .noticia__img{
   border-radius: 7px;
 }
 .noticia__h4{
   margin: 17px 0 0 0;
 }
 .noticia__p{
   margin: 17px 0;
   text-align: justify;
 }
 .noticia__btn{
   background-color: #E91B4B;
   text-align: center;
   border-radius: 7px;
   padding: 7px 10px;
   color: white;
   transition: background-color .2s ease-in;
 }
 .noticia__btn:hover{
   cursor: pointer;
   background-color: #030d28;
 }
 .prefooter{
   height: 200px;
   background-color: #030D28 ;
   /*E91B4B rojo
      030D28     azul */
 }
 .prefooter{
  display: grid;
  grid-template-areas:
  "1fr 1fr 1fr"
  "1fr 1fr 1fr"
  "1fr 1fr 1fr";
  /*grid-template-columns: 33.333% 33.333% 33.333%;
  grid-template-rows: 33.333% 33.333% 33.333%;*/
  width: 90%;/*670*/
  margin: 0 auto;
  padding: 5%;
 }
 .footer{
   background-color: #e91b4b;
 }
 .footer__p{
   text-align: center;
   margin: 20px 0;
   color: white;
 }
@media (min-width: 480px){
  .header{
    background-image: url("../img/heros.jpg");
   }
 .main__ul{ 
 padding-left: 40px;
 padding-right: 40px;
 }
 }
@media (min-width: 630px) {
 .h1{
   margin-top: 95px;
 }
 .main{
   max-width: 650px;
 }
 .main__ul{
   flex-wrap: nowrap;
 }
 .equipo__h2{
   margin: 60px 0 60px 0;
 }
 .plantilla{
   flex-direction: row;
   justify-content: space-around;
 }
 .plantilla__trabajador{
   width: 130px;
 }
 .trabajador__img{
  width: 250px;
}
 .trabajador__txt{
     margin-bottom: 30px;
 }
 .conocenos__h3{
  padding: 0;
}
 .conocenos__txt{
  padding: 50px 0;
  width: 70%;
 }
 .conocenos__txt__p{
   margin: 30px 0;
 }
 .catalogo{
  height: 250px;
  padding: 0;
  background-image: url("../img/lapiz.jpg");
}
.catalogo__ul{
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
.catalogo__li{
  font-size: 30px;
}
}
@media (min-width: 768px){
  .curso__wrapper{
  flex-direction: row;
  flex-wrap: wrap;
  height: 430px;
  width: 80%;
  margin: 0 auto;
}
.temario--1, .temario--2, .temario--3, .temario--4{
  width: 40%;
}
/*
.temario--1:before{
  content: '';
  position: absolute;
  bottom: 0px;
  left: -100px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #262626;
  transition: left 0.4s ease;
}
.temario--1:hover::before{
  left: 0px;
}*/

/*.curso__img:hover::before{
  left: 0px;*/
}
@media (min-width: 900px){
  .main__ul__li{
    margin: 5px;
  }
  .main__rrss{
    /*width: auto;*/
  }
  .curso__img{
    width: 100%;
   /* margin: 0 auto;*/
  }
  .curso__wrapper{
  height: 450px;
  width: 70%;
  align-content: space-evenly;
  }
  .noticias__wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  .noticia{
    margin-top: 7px;
    padding: 17px;
    border-radius: 7px;
  }
}
@media (min-width: 1024px) {
  .h1{
    width: 40%;
    margin: auto;
    font-size: 70px;
    margin-top: 80px;
  }
  .curso__wrapper{
    height: 550px;
    }
}
@media (min-width: 1150px) {
 .header{
  background-image: url("../img/herom.jpg");
 }
 .h1{
   font-size: 80px;
 }
 .plantilla{
   width: 80%;
   margin: 40px auto 40px auto;
 }
 .plantilla__trabajador{
  width: 180px;
}
 .trabajador__img{
   width: 180px;
 }
 .noticias__wrapper{
   width: 70%;
   margin: auto;
 }
}
